.select {
    display: inline-block;
    position: relative;
    direction: rtl;

    background-color: #E9E9ED;
    border: .1em solid #8F8F9D;
    border-radius: .25em;
    padding: .1em .2em;
    padding-left: 1.4em;
    cursor: pointer;
    user-select: none;

    &::after {
        content: "";
        --thick: 0.37em;
        display: inline-block;
        border: var(--thick) solid black;
        padding: 0.7em;
        border-top: var(--thick) solid transparent;
        border-left: var(--thick) solid transparent;
        transform: rotate(45deg);
        font-size: 0.2em;
        border-radius: 0.5em;
        height: 0;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto 3em auto 2.3em;
    }

    &:hover {
        background-color: #D0D0D7;
    }

    .list {
        opacity: 0;
        visibility: hidden;
        background-color: #F9F9FB;
        border: .1em solid #A0A0A0;
        box-shadow: 0 0 3px 2px #EBEBEB;
        border-radius: .25em;
        z-index: 100;
        padding: .2em 0;
        min-width: max-content;
        width: 100%;
        position: absolute;
        right: 0;
        top: 105%;

        span {
            display: block;
            text-align: right;
            padding: .15em .4em;
            cursor: pointer;

            &.active,
            &:hover {
                background-color: #E0E0E6;
            }
        }
    }

    select {
        display: none !important;
    }

    &.active {
        .list {
            opacity: 100;
            visibility: visible;
        }
    }
}