.select {
    --unit-height: 25px;
    --collective-height: 125px;

    >span {
        background-color: #D0D0D7;
        border: .1em solid #676774;
        border-radius: .25em;
        display: inline-block;
        padding: .2em;
        cursor: pointer;

        &::before {
            content: '⌄';
            margin-right: .5em;
        }

    }

    .list {
        opacity: 0;
        background-color: #D0D0D7;
        border: .1em solid #676774;
        border-radius: .25em;
        position: absolute;

        select {
            display: none;
        }
    }
}